site_name: salva
pages:
  - Home: index.md
#  - '<i class="fa fa-book"></i>&nbsp User Guide':
#    - 'Getting started': getting_started.md
  - '<i class="fa fa-align-left"></i>&nbsp API Documentation':
    - 'salva2d': rustdoc_salva2d.md
    - 'salva3d': rustdoc_salva3d.md
  - '<i class="fa fa-play"></i>&nbsp Demos':
    - '2D demos': demo_all_examples2.md
    - '3D demos': demo_all_examples3.md

  - '<i class="fa fa-question-circle"></i>&nbsp About':
      - 'Contributing': about.md
      - 'Release notes': changelog.md
theme:
    name: null
    custom_dir: 'custom_flatly'
site_author: 'Sébastion Crozet'
site_favicon: img/favicon.ico
site_url: http://salva.org

# the third-party extension mdx_math.py comes with a setup.py script
# Thank you Dmitry Shachnev (https://github.com/mitya57/python-markdown-math)
markdown_extensions:
    - extra
    - mdx_math:
        enable_dollar_delimiter: True #for use of inline $..$
    - fenced_code
    - codehilite:
        use_pygments: False
    - footnotes
    - smarty
    - admonition
    - toc:
        permalink: '§'

# Required to load the MathJax javascript for the mdx_math.py
extra_javascript: ['https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML']
